main {
    width: 80%;
    margin: auto;
}

header {
    text-align: center;
}

.info-1, .info-2, .info-3 {
    width: 30%;
    height: 25vh;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-size:cover ;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem 1.5rem 0 1.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
}

.info-1 {
    background-image: url("/task-2/assets/task2-bg.jpeg");
}

.info-2 {
    background-image: url("/task-2/assets/task2-bg1.jpeg");
}

.info-3 {
    background-image: url("/task-2/assets/task2-bg2.jpg")
}




